@model Mar.Models.Login

@{
    Layout = "_Layout";
}

<div class="login-overlay">
    <div class="login-modal">
        
        <div class="modal-header">
            <h2>Sign In</h2>
        </div>
        <form asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" class="login-form">
            <div class="form-group">
                <label for="username">Email/Username</label>
                @Html.EditorFor(user => user.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username/Email" } })
            </div>
            <div class="form-group">
                <label for="username">Password</label>
                @Html.EditorFor(user => user.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
            </div>
            <div class="form-group">
                Anonymous: @Html.CheckBoxFor(user => user.Anonymous)
            </div>
            
            <div class="g-recaptcha" data-sitekey="6LcZItUpAAAAAK5YFzNacPqtNmzfcj9UgEoqDbLZ"></div>
            <p class="error-message">
                @ViewBag.ErrorMessage
            </p>
            

            @section Scripts {
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            }

            <div class="links">
                <a asp-action="Create" class="link">Register</a>
            </div>

            <div class="form-group">
                <input type="submit" value="SIGN IN" class="submit-button btn btn-success " />
            </div>
        </form>

        <script>
            function closeModal() {
                var overlay = document.querySelector('.login-overlay');
                overlay.style.display = 'none';
            }
        </script>
    </div>
</div>
