<!DOCTYPE html>
<html>
<head>
    <!--Vi använder bootstrap för att integrera olika för-gjorda css-layout in i systemet. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</head>
<body>
    <nav class="navContainer navbar">
        <div class="navLayout container-fluid">
            <div class="d-flex justify-content-start">
                <a class="navbar-brand @IsActive("/Home")" title="Go To Home" asp-action="Index" asp-controller="Home"><i class="bi bi-chat-fill"></i> Home</a>
                <a class="navbar-brand @IsActive("/Search")" title="Search for any Post" asp-action="Index" asp-controller="Search"><i class="fa fa-search "></i> Search</a>
                <a class="navbar-brand @IsActive("/Credit")" title="Go to Credit" asp-action="Index" asp-controller="Credit"><i class="fa fa-coins"></i> Credits</a>
            </div>

            <div class="d-flex justify-content">
                @if (User.Identity.IsAuthenticated && !string.IsNullOrEmpty(User.Identity.Name))
                {
                        <div class="btn-group">
                            <button class="btn navbar-brand dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" title="My Profile">
                                <text>
                                    @(User.Identity.Name.Substring(0, 1).ToUpper() + User.Identity.Name.Substring(1).ToLower())
                                </text>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Profile"><span class="item-text">My Profile</span><span class="icon-bg"><i class="fa fa-user"></i></span></a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Profile"><span class="item-text">My Profile</span><span class="icon-bg"><i class="fa fa-user"></i></span></a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Profile"><span class="item-text">My Profile</span><span class="icon-bg"><i class="fa fa-user"></i></span></a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Profile"><span class="item-text">My Profile</span><span class="icon-bg"><i class="fa fa-user"></i></span></a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Profile"><span class="item-text">My Profile</span><span class="icon-bg"><i class="fa fa-user"></i></span></a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Profile"><span class="item-text">My Profile</span><span class="icon-bg"><i class="fa fa-user"></i></span></a></li>
                            </ul>        
                        </div>
                }
                else
                {
                    <a class="navbar-brand @IsActive("/")" title="Login" asp-action="Index" asp-controller="Login">
                        @if (!User.Identity.IsAuthenticated && !string.IsNullOrEmpty(User.Identity.Name))
                        {
                            <text>
                                @(User.Identity.Name.Substring(0, 1).ToUpper() + User.Identity.Name.Substring(1).ToLower())
                            </text>
                        }
                        else
                        {
                            @:Login
                        }
                    </a>
                    <a class="navbar-brand @IsActive("/Login/Create")" title="Register" asp-action="Create" asp-controller="Login">
                        @if (!User.Identity.IsAuthenticated && !string.IsNullOrEmpty(User.Identity.Name))
                        {
                            <text>
                                @(User.Identity.Name.Substring(0, 1).ToUpper() + User.Identity.Name.Substring(1).ToLower())
                            </text>
                        }
                        else
                        {
                            @:Signup
                        }
                    </a>
                }
        </div>

        </div>
    </nav>

    <div class="font-monospace">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        @functions {
            public string IsActive(string path)
            {
                return Context.Request.Path.StartsWithSegments(new PathString(path), StringComparison.OrdinalIgnoreCase) ? "active" : "";
            }
        }

    </script>
</body>
</html>